
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>


<div class="">
   <div>
       URL
   </div>
    <div>
        <%=url%>
    </div>
</div>

<div class="">
    <div>
        Тип запроса
    </div>
    <div>
        <%=res%>
    </div>
</div>

<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full text-center">
                    <thead class="border-b">
                    <tr>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                            id
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                            Название
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                            Описание
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4">
                            Людей на сервере
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var server=0; server<newServer.length;server++) {%>

                        <tr class="border-b">
                            <td class="text-sm text-gray-900 font-medium px-6 py-4 whitespace-nowrap">
                                <%=newServer[server][0] %>
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                <%=newServer[server][1] %>
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                <%=newServer[server][2] %>
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                <%=newServer[server][3] %>
                            </td>
                        </tr>
                    <%}
                    %>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>